In [43]:
import pandas as pd
data = pd.read_csv("training_data.csv",delimeter =":")

TypeError: read_csv() got an unexpected keyword argument 'delimeter'

In [41]:
import pandas as pd

data = pd.read_csv("training_data.csv",delimiter =":")
data

            x         x2          y
0   -0.228788  -2.287877   3.506056
1   -0.094669  -0.946690   0.782723
2   -0.956651  -9.566513   3.045309
3   -1.984509 -19.845088   3.063300
4    0.386115   3.861152   5.548161
..        ...        ...        ...
995  6.090780  60.907804   6.994628
996  6.404440  64.044398  10.341862
997  6.759155  67.591547   8.604072
998  7.696100  76.960998   9.130374
999  7.035916  70.359157   7.827138

[1000 rows x 3 columns]

In [14]:
import numpy as ny

In [44]:
data.head()

          x         x2         y
0 -0.228788  -2.287877  3.506056
1 -0.094669  -0.946690  0.782723
2 -0.956651  -9.566513  3.045309
3 -1.984509 -19.845088  3.063300
4  0.386115   3.861152  5.548161

In [47]:
features=['x']
target=['y']
x_train=data[features]
y_train=data[target]

In [20]:
data.head()

          x         x2         y
0 -0.228788  -2.287877  3.506056
1 -0.094669  -0.946690  0.782723
2 -0.956651  -9.566513  3.045309
3 -1.984509 -19.845088  3.063300
4  0.386115   3.861152  5.548161

In [23]:
data.tail()

            x         x2          y
995  6.090780  60.907804   6.994628
996  6.404440  64.044398  10.341862
997  6.759155  67.591547   8.604072
998  7.696100  76.960998   9.130374
999  7.035916  70.359157   7.827138

In [25]:
data.isna().sum()

x     2
x2    2
y     2
dtype: int64

In [27]:
data.describe()

                x          x2           y
count  998.000000  998.000000  998.000000
mean     3.496300   34.963000    5.641535
std      3.270797   32.707971    2.696431
min     -3.444108  -34.441079   -0.075518
25%      0.118074    1.180740    3.432217
50%      4.011380   40.113800    5.081093
75%      6.306373   63.063733    8.294083
max      9.846538   98.465379   11.521694

In [38]:
from sklearn.linear_model import LinearRegression
x_train

            x
0   -0.228788
1   -0.094669
2   -0.956651
3   -1.984509
4    0.386115
..        ...
995  6.090780
996  6.404440
997  6.759155
998  7.696100
999  7.035916

[1000 rows x 1 columns]

In [39]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
y=model.predict([[2]])

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values